* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navLogo {
    position: absolute;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

.recipe {
    height: 250px;
    
}