* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}

html {
    font-family: sans-serif;
}

body {
    background-image: url(images/double-bubble-outline.webp);
    background-repeat: repeat;
}

/*Nab Bar code*/

header {
    width: 100%;
    padding: 10px 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: space-between;
}

.navLogo {
    color: #8DC728;
    font-weight: 900;
}
span#red {
    color: #CE2020;
}

.navLink {
    color: black;
    text-decoration: none;
    margin-left: 3rem;
    padding: 5px;
}
.navLink:hover {
    color: #ffffff;
    background-color: #8DC728;
}

.flexBox {
    display: flex;
}

/*Main section*/

main {
    height: 100%;
    width: auto;
    padding: 4rem 5rem;
    justify-content: space-between;
    background-color: #E0E0E080;
}

.bolder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
}
span.wrap {
    display: block;
}

.infoContainer {
    width: 25%;
    min-width: 350px;
    flex-direction: column;
    justify-content: space-between;
}

/*Recipe section*/

.recipeContainer {
    height: auto;
    width: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.recipe {
    height: 350px;
    width: 250px;
    margin-left: 1.5rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.recipe:hover {
    border: 2px solid white;
}

.topText, .bottomText {
    font-size: .8rem;
    padding: 10px;
    text-align: right;
    z-index: 10;
}

.topText {
    width: fit-content;
    background-color: #ffffff;
}

.bottomText {
    width: 50%;
    background-color: #8DC728;
    
}

.foodImage {
    height: 350px;
    width: 250px;
    position: absolute;
    object-fit: cover;
}

#breakfast {
    background-image: url(images/apple-quinoa.jpg);
    background-position: center;
    background-size: cover;
}

#lunch {
    background-image: url(images/pasta-salad.jpg);
    background-position: center;
    background-size: cover;
}

#dinner {
    background-image: url(images/shrimp.jpg);
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 1400px) {
    
    main {
        flex-direction: column;
    }

    .infoContainer {
        width: 100%;
        margin-bottom: 5rem;
    }

    .recipe {
        margin-bottom: 1.5rem;
    }

}
