* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

/*Nab Bar code*/

header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
}



/*li {
    float: right;
    padding: .8rem;
    margin: 0 .8rem 0;
}

li:nth-of-type(1) {
    margin-right: 10%;
}*/

main {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-evenly;
}

.space {
    margin: 2rem;
}

.infoContainer {
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipeContainer {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.recipe {
    height: 350px;
    width: 250px;
    margin: 1.5rem;
}

#breakfast {
    background-image: url(images/apple-quinoa.jpg);
    background-position: center;
    background-size: cover;
}

#lunch {
    background-image: url(images/pasta-salad.jpg);
    background-position: center;
    background-size: cover;
}

#dinner {
    background-image: url(images/shrimp.jpg);
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 1000px) {
    
    main {
        flex-direction: column;
    }

    .infoContainer {
        width: 100%;
    }

    /*li {
        float: right;
        padding: .5rem;
        margin: 0 .3rem 0;
    }

    li:nth-of-type(1) {
        margin-right: 5px;
    }*/
}

@media only screen and (max-width: 650px) {
    .navLogo {
        position: relative;
        text-align: center;
    }
}